/* @import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600&display=swap'); */
@import "tailwindcss";


footer button {
  padding: 8px;
  margin: 0px;
  border-radius: 4px;
  border: 0px;
  cursor: pointer;
}

#editor {
  height: calc(100vh - 280px);
  position: relative;
}

#typing-guide {
  flex-grow: 1;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  text-wrap: nowrap;
  text-align: right;
  position: absolute;
  bottom: 0px;
  padding-right: 20px;
  width: 100%;
  background: transparent;
}

#button_row {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  padding: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}


@keyframes shake {

  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.wiggle {
  display: inline-block;
  animation-name: shake;
  animation-delay: 0ms;
  animation-duration: 500ms;
}
