name: Test prover core

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: pnpm/action-setup@v4
      with:
        version: 10
    - name: Run Linter
      working-directory: ./webui/app
      run: pnpm install && pnpm lint
    - name: Run tests
      run: cargo test --verbose --manifest-path fitch-proof/Cargo.toml
